<launch>
 
  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/models/turtlebot3.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <gazebo reference="your_link">
    <material>img_box</material>
  </gazebo>
 <param name="robot_description" command="$(find xacro)/xacro $(find shinrosv_description)/urdf/shinrosv.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model shinrosv"/>
</launch>
