<?xml version="1.0"?>
<launch>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <!--<arg name="base_global_planner" default="global_planner/GlobalPlanner"/>-->
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>

  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

   <param name="base_global_planner" value="navfn/NavfnROS"/>
   <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>  
    
    <rosparam file="$(find shinrosv_description)/config/planner.yaml" command="load"/>

    <rosparam file="$(find shinrosv_description)/config/common_costmap.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find shinrosv_description)/config/common_costmap.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find shinrosv_description)/config/local_costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find shinrosv_description)/config/global_costmap.yaml" command="load" ns="global_costmap" /> 

  </node> 
  
</launch>

